@layer utility {
  .flex-coh {  
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}



@keyframes dots {
  0%   { content: "."; }
  33%  { content: ".."; }
  66%  { content: "..."; }
  100% { content: "."; }
}

[data-loading="..."] {
  color: transparent;       /* 隐藏原始 "..." 文字 */
  position: relative;
  display: inline-block;
}

[data-loading="..."]::after {
  content: ".";
  animation: dots 0.8s steps(1, end) infinite;
  color: var(--color-muted-foreground);           /* 继承父元素颜色 */
  position: absolute;
  left: 0;
}

:root {
  --neutral-300: 0 0% 62%;
  --neutral-400: 0 0% 52%;
  --neutral-500: 0 0% 39%;
  --neutral-600: 0 0% 28%;
  --neutral-1000: 0 0% 2%;
  --black: 0 0% 2%;
  --white: 0 0% 99%;
  --fg-primary: var(--neutral-1000);
  --fg-secondary: var(--neutral-500);
  --button-ghost-hover: hsl(var(--black) / 4%);
  --fg-tertiary: var(--neutral-400);
  --ring: var(--neutral-400);
  --primary: var(--white);
}

.dark {
  --fg-primary: var(--white);
  --fg-secondary: var(--neutral-300);
  --button-ghost-hover: hsl(var(--white) / 8%);
  --fg-tertiary: var(--neutral-400);
  --ring: var(--neutral-600);
}

.bg-fg-tertiary {
    background-color: hsl(var(--fg-tertiary));
}

.hover\:text-fg-primary:hover {
    color: hsl(var(--fg-primary));
}

.hover\:bg-button-ghost-hover:hover {
    background-color: var(--button-ghost-hover);
}

.text-fg-secondary {
    color: hsl(var(--fg-secondary));
}

.text-fg-primary {
    color: hsl(var(--fg-primary));
}

.ring-ring {
    --tw-ring-color: hsl(var(--ring));
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus-visible\:ring-ring:focus-visible {
    --tw-ring-color: hsl(var(--ring));
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.group\/timeline-tick:hover [class*="group-hover\/timeline-tick"] {
    background-color: oklch(0.87 0.00 0) !important;
}

